#container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    min-width: 90vw;
    border: solid 2px black;
}

div{
    min-width: 80%;
    height: 20rem;
    border: solid 2px red;
}